@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
}
:root{
    --main-color:#C36261;
}

/*------------------Navigation bar-----------------*/

body{
    background-image: linear-gradient(to right, white, rgb(251, 136, 251) );
}
nav ul{
    height: 10vh;
    width: 100vw;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 2rem;
    font-size: 1.8rem;
}
.left-nav li a{
    color: var(--main-color);
    font-size: 2.5rem;
    font-weight: 800;
}
.right-nav {
    display: flex;
}
.right-nav  li  a  {
    text-shadow: 2px  2px  1px teal;
}
.right-nav li::after {
    content: '';
    width:0%;
    height: 2px;
    display: block;
    background:teal;
    margin: auto;
    transition: 0.5s;
}
.right-nav li:hover:after{
    width: 80%;
  
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 28px;
    background-color: #C36261;
    height: 4px;
    margin-top:2px;
}


/*--------------------Main content-----------------------*/

.container{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.container .left-container{
    height:80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container  .left-container  .sub-left-container{
    margin-bottom: 5rem;
}
.container  .left-container  h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px  2px  1px rgb(200, 97, 200);
}
.container  .left-container  p{
    font-size: 1.8rem;
    text-shadow: 2px  2px  1px rgb(240, 137, 137);
}
.container .left-container  .btn-1{
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
}
.container .left-container  .btn-1:hover{
    background-color: var(--main-color);
    color: white;
}
.container .left-container  .btn-2{
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    padding: 1.6rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    margin-left: 2rem;
}
.container .left-container  .btn-2:hover{
    color: var(--main-color);
    background-color: white;
}
.container  .right-container{
    height: 80%;
    width: 45%;
    margin-top: 5rem;
}
.right-container img{
    opacity: 85%;
}

/*-------------responsive----------------*/

@media screen and (max-width:1050px) {
    .container  .right-container{
        margin-right: 10rem;
    }
    nav ul{
        flex-direction: column;
    }
}

@media screen and (max-width:830px){
    .container .right-container img{
        width: 280px;
        margin-top: 7rem;
    }
    .left-container{
        height: 50%;
    }
    .container  .left-container  h1{
        font-size: 2.5rem;
    }
    .container .left-container  .btn-1{
        padding: 1rem;
    }
    .container .left-container  .btn-2{
        padding: 1.1rem;
    }
}
@media screen and (max-width:500px){
    body {
        background-image: url('img.jpg');
        background-size: cover;
    }
    nav ul li {
        margin-top: 1rem;
    }
    nav ul li a {
        padding: 1rem;
        font-size: 1.5rem;
    }
    .container .right-container{
        display: none;
    }
    .container .left-container{
        width: 100%;
        align-items: flex-start;
        margin-left: 5rem;
        margin-top: -5rem;
    }

    
}

































































